h1 {
    font-size: 50px;
    font-weight: normal;
}

body {
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
    color: white;
}

a {
    color: rgb(28, 200, 200);
}